/*---------------------------
		Accessiblity
---------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	left: -999em;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal;

	&:focus {
		border-radius: $border-radius;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto;
		clip-path: none;
		display: block;
		font-size: 1em;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/*---------------------------
		Alignments
---------------------------*/

.left {
	float: left;
}

.right {
	float: right;
}

.text {
	&-left {
		text-align: left;
	}

	&-right {
		text-align: right;
	}

	&-center {
		text-align: center;
	}

	&-justify {
		text-align: justify;
	}
}

/*---------------------------
		Others
---------------------------*/

.hide {
	display: none;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}
