.home-page-wrap {
	.entry-content {

		> * {
			margin: $margin-top auto $margin-bottom auto;
		}

		> *:not(.alignfull) {
			max-width: $site_width;
			padding: 0 $padding-right 0 $padding-left;
		}

		> .alignwide {
			max-width: $wide_width;
		}
	}
}
