.slick-slide {
	&:focus {
		outline: none;
	}
}

.slick-slider {
	margin:0 -15px;
}
.slick-slide {
	padding:10px;
	text-align:center;
	margin-right:15px;
	margin-left:15px;
}

.slick-prev:before {
	content: "<";
	color: red;
	font-size: 30px;
}

.slick-next:before {
	content: ">";
	color: red;
	font-size: 30px;
}
