/* stylelint-disable */
.editor-styles-wrapper .wp-block-button,
.wp-block-button {

	// Style variation for 'layout-border-blue-fill'
	&.is-style-layout-border-blue-fill {

		.wp-block-button__link {
			border: 1px solid $blue-200;
			background-color: $blue-40 !important;
			color: $white !important;
			padding: 8px 30px;
			border-radius: 3px;
		}
	}

	// Style variation for 'layout-border-white-no-fill'
	&.is-style-layout-border-white-no-fill {

		.wp-block-button__link {
			border: 1px solid $white;
			background-color: transparent !important;
			color: $white !important;
			padding: 8px 30px;
			border-radius: 3px;
		}
	}
}

// Style variation block settings preview styles.
.block-editor-block-styles__item[aria-label="White outline - to be used with dark background"] {
	.block-editor-block-styles__item-preview,
	.block-editor-block-list__layout.is-root-container {
		background-color: $blue-200;

		.wp-block-button.is-style-layout-border-white-no-fill {
			.wp-block-button__link {
				background-color: $blue-200;
			}
		}
	}
}

/* stylelint-enable */
