
/*----------------
		Font
------------------*/

// Global theme font.
$font__main: 'Lato', sans-serif;

// Global code font
$font__code: 'Lato', sans-serif, monospace;

// Fallback font when font is not loaded via WebFonts JS.
$font__fallback: sans-serif;

// Base line height.
$font__base-line-height: 30px;

/*---------------------------------
		Body Text Font Sizes
-----------------------------------*/

$body-text: (
	'h1': (
		'small': (
			font-size: 31.5px,
			line-height: 1.27,
		),
	),
	'h2': (
		'small': (
			font-size: 31.5px,
			line-height: 1.27,
		),
	),
	'h3': (
		'small': (
			font-size: 24.5px,
			line-height: 1.64,
		),
	),
	'h4': (
		'small': (
			font-size: 17.5px,
			line-height: 1.142,
		),
	),
	'h5': (
		'small': (
			font-size: 14px,
			line-height: 1.43,
		),
	),
	'h6': (
		'small': (
			font-size: 11.9px,
			line-height: 1.681,
		),
	),
	'body': (
		'small': (
			font-size: 16px,
			line-height: 1.43,
		),
		'large': (
				font-size: 18px,
				line-height: 1.43,
		),
	),
	'l': (
		'small': (
			font-size: 18px,
		),
	),
	'm': (
		'small': (
			font-size: 16px,
		),
	),
	's': (
		'small': (
			font-size: 12px,
		),
	),
	'xs': (
		'small': (
			font-size: 11px,
		),
	),
);
